{% extends "base.twig" %}

{% block content %}
  {% do action( 'woocommerce_before_main_content' ) %}

  <header class="woocommerce-products-header">
    {% do action( 'woocommerce_archive_description' ) %}
  </header>

  {% if products %}
    {% do action( 'woocommerce_before_shop_loop' ) %}
    {% include 'woocommerce/loop/loop-start.twig' %}

    <div class="loop">
      {% for product in products %}
        {% do action( 'woocommerce_shop_loop' ) %}

        {% include ["woocommerce/content-product.twig"] %}
      {% endfor %}
    </div>

    {% include 'woocommerce/loop/loop-end.twig' %}
    {% do action( 'woocommerce_after_shop_loop' ) %}
  {% else %}
    {% do action( 'woocommerce_no_products_found' ) %}
  {% endif %}

  {% do action( 'woocommerce_after_main_content' ) %}

  {% do action( 'woocommerce_sidebar' ) %}
{% endblock %}
