<div
    id="post-{{ post.id }}"
    {{ fn('post_class') }}
    style="{{ function( 'storefront_homepage_content_styles' ) }}"
    data-featured-image="{{ function('get_the_post_thumbnail_url', post.id, 'thumbnail') }}"
>
  <div class="col-full">
    {% do action( 'storefront_homepage' ) %}
  </div>
</div>
