<section
class="storefront-product-section storefront-featured-products"
aria-label="{{ _e( 'Featured Products', 'storefront' ) }}">

  {% do action( 'storefront_homepage_before_featured_products' ) %}

  <h2 class="section-title">{{ title }}</h2>

  {% do action( 'storefront_homepage_after_featured_products_title' ) %}

  {{ content }}

  {% do action( 'storefront_homepage_after_featured_products' ) %}

</section>
