<section
  class="storefront-product-section storefront-on-sale-products"
  aria-label="{{ _e( 'On Sale Products', 'storefront' ) }}"
>

  {% do action( 'storefront_homepage_before_on_sale_products' ) %}

  <h2 class="section-title">{{ title }}</h2>

  {% do action( 'storefront_homepage_after_on_sale_products_title' ) %}

  {{ content }}

  {% do action( 'storefront_homepage_after_on_sale_products' ) %}

</section>
