{% extends "base.twig" %}

{% block content %}
  {# translators: 1: user display name 2: logout url #}
  <p>{{ __('Hello %1$s (not %1$s? <a href="%2$s">Log out</a>)', 'woocommerce')|format(
    '<strong>' ~ user.name|e('esc_html') ~ '</strong>',
    function( 'wc_logout_url', function( 'wc_get_page_permalink', 'myaccount' ) )|e('esc_url')
    ) }}</p>

  <p>{{ __( 'From your account dashboard you can view your <a href="%1$s">recent orders</a>, manage your <a href="%2$s">shipping and billing addresses</a>, and <a href="%3$s">edit your password and account details</a>.', 'woocommerce' )|format(
      function( 'wc_get_endpoint_url', 'orders' )|e('esc_url'),
      function( 'wc_get_endpoint_url', 'edit-address' )|e('esc_url'),
      function( 'wc_get_endpoint_url', 'edit-account' )|e('esc_url')
    ) }}</p>
  {#
    /**
     * My Account dashboard.
     *
     * @since 2.6.0
     */
  #}
  {% do action( 'woocommerce_account_dashboard' ) %}

  {#
    /**
     * Deprecated woocommerce_before_my_account action.
     *
     * @deprecated 2.6.0
     */
  #}
  {% do action( 'woocommerce_before_my_account' ) %}

  {#
    /**
     * Deprecated woocommerce_after_my_account action.
     *
     * @deprecated 2.6.0
     */
  #}
  {% do action( 'woocommerce_after_my_account' ) %}
{% endblock %}
