{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		{% do action('storefront_before_site') %}

		<div id="page" class="hfeed site">
			{% do action('storefront_before_header') %}

			<header id="masthead" class="site-header" role="banner" style="{{ function('storefront_header_styles') }}">

				{% do action('storefront_header') %}

			</header><!-- #masthead -->

			<header id="masthead" class="site-header" role="banner" style="{{ function('storefront_header_styles') }}">

				{% include 'partial/homepage/storefront-header.twig' %}

			</header><!-- #masthead -->

			{% do action( 'storefront_before_content' ) %}

			<div id="content" class="site-content" tabindex="-1">
				<div class="col-full">

					{% do action( 'storefront_content_top' ) %}

					{% block content %}
						Sorry, no content
					{% endblock %}

					{% do action( 'storefront_sidebar' ) %}

				</div><!-- .col-full -->
			</div><!-- #content -->

			{% do action( 'storefront_before_footer' ) %}

			{% block footer %}
				<footer id="colophon" class="site-footer" role="contentinfo">
					{% include 'footer.twig' %}
				</footer><!-- #colophon -->
			{% endblock %}

			{% do action( 'storefront_after_footer' ) %}

		</div><!-- #page -->

		{{ function('wp_footer') }}
	</body>
</html>
