{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{ body_class }}" data-template="base.twig">
		{% do action('storefront_before_header') %}

		<div id="page" class="hfeed site">

			<header id="masthead" class="site-header" role="banner" style="{{ function('storefront_header_styles') }}">

				{#
					/**
					 * Functions hooked into storefront_header action
					 *
					 * @hooked storefront_header_container                 - 0
					 * @hooked storefront_skip_links                       - 5
					 * @hooked storefront_social_icons                     - 10
					 * @hooked storefront_site_branding                    - 20
					 * @hooked storefront_secondary_navigation             - 30
					 * @hooked storefront_product_search                   - 40
					 * @hooked storefront_header_container_close           - 41
					 * @hooked storefront_primary_navigation_wrapper       - 42
					 * @hooked storefront_primary_navigation               - 50
					 * @hooked storefront_header_cart                      - 60
					 * @hooked storefront_primary_navigation_wrapper_close - 68
					 */
				#}

				{% do action( 'storefront_header' ) %}

			</header><!-- #masthead -->

			{#
				/**
				 * Functions hooked in to storefront_before_content
				 *
				 * @hooked storefront_header_widget_region - 10
				 * @hooked woocommerce_breadcrumb - 10
				 */
			#}
			{% do action( 'storefront_before_content' ) %}

			<div id="content" class="site-content" tabindex="-1">
				<div class="col-full">

					{% do action( 'storefront_content_top' ) %}

					{% block content %}
						Sorry, no content
					{% endblock %}

					{% do action( 'storefront_sidebar' ) %}

				</div><!-- .col-full -->
			</div><!-- #content -->

			{% do action( 'storefront_before_footer' ) %}

			{% block footer %}
				<footer id="colophon" class="site-footer" role="contentinfo">
					{% include 'footer.twig' %}
				</footer><!-- #colophon -->
			{% endblock %}

			{% do action( 'storefront_after_footer' ) %}

		</div><!-- #page -->

		{{ function('wp_footer') }}
	</body>
</html>
