{% extends "base.twig" %}

{% block content %}
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

      {% if posts %}
        {% include 'loop.twig' with { posts: posts } only %}
      {% else %}
        {% include 'content/none.twig' %}
      {% endif %}

    </main><!-- #main -->
  </div><!-- #primary -->
{% endblock %}
