{% extends "base.twig" %}

{% block content %}
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">
			{% for post in posts %}
				{% do action('storefront_page_before') %}

			  {% include 'content/page.twig' with { post: post } only %}

				{% do action('storefront_page_after') %}
			{% endfor %}
		</main><!-- #main -->
	</div><!-- #primary -->
{% endblock %}
