{# see `archive.twig` for an alternative strategy of extending templates #}
{% extends "base.twig" %}

{% block content %}
  <div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">
      {% if posts %}
        <header class="page-header">
          <h1 class="page-title">
            {{ __('Search Results for: %s', 'storefront')|format('<span>' ~ function('get_search_query') ~ '</span>') }}
          </h1>
        </header><!-- .page-header -->

        {% include 'loop.twig' with { posts: posts } only %}
      {% else %}
        {% include 'content/none.twig' %}
      {% endif %}
    </main><!-- #main -->
  </div><!-- #primary -->
{% endblock %}
