{% extends "base.twig" %}

{% block content %}
	<div id="primary" class="content-area">
		<main id="main" class="site-main" role="main">

		{% for post in posts %}

			{% do action( 'storefront_single_post_before' ) %}

			{% include 'content/single.twig' with { post: post } only %}

			{% do action( 'storefront_single_post_after' ) %}

		{% endfor %}

		</main><!-- #main -->
	</div><!-- #primary -->
{% endblock %}
